In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(50)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1030,tt1212450,26000000,53676580,Lawless,Shia LaBeouf|Tom Hardy|Guy Pearce|Jessica Chas...,John Hillcoat,"When the law became corrupt, outlaws became he...","Set in the Depression-era Franklin County, Vir...",115,Crime|Drama,The Weinstein Company|Benaroya Pictures|Yucaip...,8/29/2012,6.7,2012
811,tt1650043,21000000,72417394,Diary of a Wimpy Kid: Rodrick Rules,Zachary Gordon|Devon Bostick|Rachael Harris|Ro...,David Bowers,Welcome to the next grade,"Back in middle school after summer vacation, G...",99,Family|Comedy,Fox 2000 Pictures|Color Force,3/25/2011,6.4,2011
1702,tt0496806,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,6.4,2007
890,tt0298130,48000000,249348933,The Ring,Naomi Watts|Martin Henderson|David Dorfman|Bri...,Gore Verbinski,"Before you die, you see.",It sounded like just another urban legend: A v...,115,Horror|Mystery|Thriller,DreamWorks SKG|BenderSpink|Parkes+MacDonald Im...,10/18/2002,6.4,2002
1048,tt1433811,10000000,3428048,Disconnect,Jason Bateman|Hope Davis|Frank Grillo|Paula Pa...,Henry Alex Rubin,Look up.,Disconnect interweaves multiple storylines abo...,115,Drama|Thriller,Lionsgate|Liddell Entertainment|LD Entertainme...,9/11/2012,6.7,2012
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,5.6,2008
1771,tt0374563,17000000,2626800,Captivity,Elisha Cuthbert|Daniel Gillies|Pruitt Taylor V...,Roland JoffÃ©,When You Think The Worst Has Happened... Think...,"The sought-after images of top model, Jennifer...",96,Crime|Horror|Thriller,Foresight Unlimited|RAMCO|Captivity Productions,6/22/2007,4.5,2007
229,tt2978462,36000000,52424533,Dolphin Tale 2,Morgan Freeman|Ashley Judd|Nathan Gamble|Cozi ...,Charles Martin Smith,WINTER's amazing true story... now has HOPE.,The team of people who saved Winter's life rea...,107,Family|Drama,Alcon Entertainment|Color Force|Boxing Cat Films,9/12/2014,6.8,2014
342,tt0775552,45000000,57881056,Aliens in the Attic,Carter Jenkins|Austin Butler|Kevin Nealon|Robe...,John Schultz,The aliens vs. the Pearsons,"It's summer vacation, but the Pearson family k...",86,Adventure|Comedy|Family|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|Regency...,7/31/2009,5.1,2009
1363,tt0452598,60000000,129181830,Cheaper by the Dozen 2,Steve Martin|Eugene Levy|Bonnie Hunt|Tom Welli...,Adam Shankman,Same Big Family... Even Bigger Adventure.,Steve Martin and Bonnie Hunt return as heads o...,94,Adventure|Comedy|Family,Twentieth Century Fox Film Corporation,12/21/2005,5.8,2005
1365,tt0377107,20000000,7535331,Proof,Gwyneth Paltrow|Anthony Hopkins|Jake Gyllenhaa...,John Madden,The biggest risk in life is not taking one.,Catherine is a woman in her late twenties who ...,100,Drama|Mystery,Miramax Films|Endgame Entertainment|Hart-Sharp...,9/5/2005,6.1,2005
268,tt0380510,65000000,93525586,The Lovely Bones,Rachel Weisz|Mark Wahlberg|Susan Sarandon|Saoi...,Peter Jackson,The story of a life and everything that came a...,"After being brutally murdered, 14-year-old Sus...",136,Fantasy|Drama,WingNut Films|DreamWorks SKG|Key Creatives|Fil...,12/26/2009,6.6,2009
1128,tt0348836,40000000,141591324,Gothika,Halle Berry|Robert Downey Jr.|Charles S. Dutto...,Mathieu Kassovitz,Because someone is dead doesn't mean they're g...,"After a car crash, a criminal psychologist (Ha...",98,Horror|Thriller,Columbia Pictures Corporation|Dark Castle Ente...,11/21/2003,5.8,2003
1767,tt0419887,20000000,73276047,The Kite Runner,Khalid Abdalla|Atossa Leoni|Shaun Toub|Zekeria...,Marc Forster,There is a way to be good again.,The Kite Runner is a 2007 American drama film ...,128,Drama,DreamWorks SKG|MacDonald/Parkes Productions|Si...,10/14/2007,7.3,2007
449,tt1126591,55000000,89519773,Burlesque,Cher|Christina Aguilera|Eric Dane|Cam Gigandet...,Steve Antin,It takes a legend... to make a star,The Burlesque Lounge has its best days behind ...,119,Drama|Romance,Bedford Falls Productions,11/23/2010,6.8,2010
788,tt1454029,25000000,124272124,The Help,Emma Stone|Viola Davis|Octavia Spencer|Bryce D...,Tate Taylor,Change begins with a whisper.,Aibileen Clark is a middle-aged African-Americ...,146,Drama,DreamWorks SKG|1492 Pictures|Participant Produ...,8/9/2011,7.6,2011
1633,tt0375063,16000000,109502303,Sideways,Paul Giamatti|Thomas Haden Church|Virginia Mad...,Alexander Payne,In search of wine. In search of women. In sear...,Two middle-aged men embark on a spiritual jour...,126,Comedy|Drama|Romance,Fox Searchlight Pictures|Michael London Produc...,10/22/2004,6.6,2004
761,tt1488555,52000000,75450437,The Change-Up,Olivia Wilde|Ryan Reynolds|Jason Bateman|Lesli...,David Dobkin,Who says men can't change?,Dave is a married man with two kids and a lovi...,112,Comedy,Universal Pictures|Original Film|Relativity Me...,8/5/2011,5.9,2011
437,tt1226229,40000000,90029656,Get Him to the Greek,Jonah Hill|Russell Brand|Rose Byrne|Colm Meane...,Nicholas Stoller,Aaron Green has 72 hours to get a Rock Star fr...,Pinnacle records has the perfect plan to get t...,109,Comedy,Universal Pictures|Spyglass Entertainment|Rela...,6/4/2010,5.9,2010
1280,tt2005374,27220000,5496951,The Frozen Ground,Nicolas Cage|Vanessa Hudgens|John Cusack|Radha...,Scott Walker,The hunter becomes the hunted,An Alaska State Trooper partners with a young ...,105,Thriller|Crime,Grindstone Entertainment Group|Cheetah Vision|...,7/18/2013,6.2,2013
276,tt0448011,50000000,155446362,Knowing,Nicolas Cage|Rose Byrne|Chandler Canterbury|Be...,Alex Proyas,Knowing is everything...,A teacher opens a time capsule that has been d...,121,Action|Adventure|Drama|Mystery|Science Fiction,Summit Entertainment|Mystery Clock Cinema|Esca...,3/19/2009,5.7,2009
1300,tt1425922,17500000,7018189,Black Nativity,Forest Whitaker|Angela Bassett|Jennifer Hudson...,Kasi Lemmons,The Musical Event of the Holiday Season,A street-wise teen from Baltimore who has been...,93,Drama|Music,Fox Searchlight Pictures|Fox Searchlight,11/27/2013,6.2,2013
538,tt0159273,40000000,91753202,Behind Enemy Lines,Owen Wilson|Gene Hackman|Gabriel Macht|Charles...,John Moore,His only weapon is his will to survive.,While flying a routine reconnaissance mission ...,106,Action|Drama|Thriller|War,Twentieth Century Fox Film Corporation|Davis E...,11/17/2001,5.9,2001
950,tt0280380,30000000,6916869,Trapped,Charlize Theron|Kevin Bacon|Courtney Love|Stua...,Luis Mandoki,It was the perfect plan until she refused to b...,When their daughter is kidnapped by experience...,106,Action|Crime|Drama|Thriller,Senator Film Produktion|Propaganda Films|Colom...,9/20/2002,5.8,2002
1171,tt0338466,55000000,33828318,Stuck on You,Matt Damon|Greg Kinnear|Eva Mendes|Wen Yann Sh...,Bobby Farrelly|Peter Farrelly,"Whatever happens to the boys, one thing is cer...","In Martha's Vineyard, Mass., conjoined twins W...",118,Comedy,Twentieth Century Fox Film Corporation|Conundr...,12/10/2003,4.8,2003
1340,tt0388795,14000000,178043761,Brokeback Mountain,Heath Ledger|Jake Gyllenhaal|Randy Quaid|Miche...,Ang Lee,Love is a force of nature.,Brokeback Mountain is an Ang Lee film about tw...,134,Drama|Romance,River Road Entertainment|Alberta Film Entertai...,9/2/2005,7.2,2005
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011
1271,tt1985966,78000000,248384621,Cloudy with a Chance of Meatballs 2,Bill Hader|Anna Faris|James Caan|Will Forte|An...,Cody Cameron|Kris Pearn,Something big was leftover.,After the disastrous food storm in the first f...,95,Animation|Family|Comedy,Columbia Pictures|Sony,9/26/2013,6.4,2013
515,tt0215750,70000000,96976270,Enemy at the Gates,Jude Law|Rachel Weisz|Ed Harris|Joseph Fiennes...,Jean-Jacques Annaud,Some Men Are Born To Be Heroes.,Enemy at the Gates is a war film from Jean-Jac...,131,War,Paramount Pictures|Swanford Films|Mandalay Pic...,3/13/2001,7.1,2001
615,tt0373051,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,Eric Brevig,Same Planet. Different World.,On a quest to find out what happened to his mi...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/2008,5.7,2008
801,tt0905372,35000000,28128670,The Thing,Mary Elizabeth Winstead|Joel Edgerton|Ulrich T...,Matthijs van Heijningen Jr.,It's Not Human. Yet.,When paleontologist Kate Lloyd travels to an i...,103,Horror|Science Fiction|Mystery|Thriller,Universal Pictures|Strike Entertainment|Morgan...,10/12/2011,6.0,2011
1698,tt0481369,30000000,77566815,The Number 23,Jim Carrey|Virginia Madsen|Logan Lerman|Danny ...,Joel Schumacher,First it takes hold of your mind...then it tak...,Walter Sparrow is an animal control officer th...,101,Thriller|Drama|Mystery,New Line Cinema|Contrafilm|Firm Films,2/23/2007,6.2,2007
382,tt0944835,110000000,293329073,Salt,Angelina Jolie|Liev Schreiber|Corey Stoll|Chiw...,Phillip Noyce,Who is Salt?,"As a CIA officer, Evelyn Salt swore an oath to...",100,Action|Thriller|Crime|Mystery,Columbia Pictures|Di Bonaventura Pictures|Rela...,7/21/2010,6.2,2010
433,tt1139328,45000000,60222298,The Ghost Writer,Ewan McGregor|Pierce Brosnan|Jon Bernthal|Kim ...,Roman Polanski,Read between the lies.,A writer stumbles upon a long-hidden secret wh...,128,Thriller|Mystery,Studio Babelsberg|Runteam Ltd.|R.P. Production...,2/12/2010,6.5,2010
543,tt0209475,35000000,94728529,The Wedding Planner,Jennifer Lopez|Matthew McConaughey|Justin Cham...,Adam Shankman,His big day is her big problem.,"Mary Fiore, San Francisco's premiere wedding p...",103,Comedy,Columbia Pictures Corporation|Intermedia Films...,1/26/2001,5.4,2001
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
192,tt1020072,20000000,66787908,Selma,David Oyelowo|Tom Wilkinson|Carmen Ejogo|AndrÃ...,Ava DuVernay,"Martin Luther King, Lyndon Baines Johnson and ...","""Selma,"" as in Alabama, the place where segreg...",127,History|Drama,Plan B Entertainment|Harpo Films|Celador Films...,12/25/2014,7.5,2014
369,tt1071812,25000000,20719451,Mao's Last Dancer,Chi Cao|Chengwu Guo|Wen Bin Huang|Joan Chen|Br...,Bruce Beresford,æœ€åŽçš„èˆžè€…,"At the age of 11, Li was plucked from a poor C...",117,Drama|Romance,Great Scott Productions Pty. Ltd.,10/1/2009,6.7,2009
759,tt1306980,8000000,39187783,50/50,Joseph Gordon-Levitt|Seth Rogen|Anna Kendrick|...,Jonathan Levine,It takes a pair to beat the odds.,"Inspired by a true story, a comedy centered on...",100,Comedy|Drama,Summit Entertainment|Mandate Pictures,9/30/2011,6.8,2011
70,tt2279339,17000000,24000000,Love the Coopers,Steve Martin|Diane Keaton|John Goodman|Alan Ar...,Jessie Nelson,"Christmas means comfort, joy and chaos.",When four generations of the Cooper clan come ...,107,Family|Comedy,Imagine Entertainment|Groundswell Productions|...,11/12/2015,5.3,2015
1424,tt0369226,20000000,10442808,Alone in the Dark,Christian Slater|Tara Reid|Stephen Dorff|Frank...,Uwe Boll,Can mankind defeat the army of darkness unleas...,Edward Carnby is a private investigator specia...,96,Action|Fantasy|Horror|Thriller,Boll Kino Beteiligungs GmbH & Co. KG|Brightlig...,1/28/2005,3.5,2005
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009
921,tt0245562,115000000,77628265,Windtalkers,Nicolas Cage|Adam Beach|Peter Stormare|Noah Em...,John Woo,Honor Was Their Code.,Joe Enders is a gung-ho Marine assigned to pro...,134,Drama|Action|History|War,Lion Rock Productions|Metro-Goldwyn-Mayer (MGM),6/14/2002,5.9,2002
46,tt2361509,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,7.1,2015
1648,tt0337579,18000000,65070412,Barbershop 2: Back in Business,Ice Cube|Cedric the Entertainer|Sean Patrick T...,Kevin Rodney Sullivan,Let your hair down,The continuing adventures of the barbers at Ca...,106,Comedy|Drama,Metro-Goldwyn-Mayer (MGM),1/20/2004,5.7,2004
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,6.5,2015
363,tt1232783,12500000,27206120,Sorority Row,Rumer Willis|Briana Evigan|Jamie Chung|Leah Pi...,Stewart Hendler,The Sisters of Theta Pi Are Dying To Keep a Se...,When five sorority girls inadvertently cause t...,101,Horror|Mystery|Thriller,Summit Entertainment|Karz Entertainment,9/9/2009,5.3,2009
1692,tt0829482,20000000,169860655,Superbad,Jonah Hill|Michael Cera|Christopher Mintz-Plas...,Greg Mottola,Come and Get Some!,High school best buddies are facing separation...,113,Comedy,Columbia Pictures|Apatow Productions,8/17/2007,7.0,2007
1317,tt0367594,150000000,474968763,Charlie and the Chocolate Factory,Johnny Depp|Freddie Highmore|AnnaSophia Robb|J...,Tim Burton,Willy Wonka is semi-sweet and nuts.,A young boy wins a tour through the most magni...,115,Adventure|Comedy|Family|Fantasy,Village Roadshow Pictures|The Zanuck Company|W...,7/9/2005,6.5,2005
1511,tt0482527,15500000,7385434,Itâ€™s a Boy Girl Thing,Kevin Zegers|Samaire Armstrong|Sherry Miller|R...,Nick Hurran,They've turned into the things they hated most...,A visit to a natural history museum proves cat...,95,Comedy,Prospero Pictures|Icon Entertainment Internati...,12/26/2006,6.2,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#profit = revenue - budget
joined_items = pd.read_csv('movie_bd_v5.csv')
joined_items['profit'] = joined_items['revenue'] - joined_items['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.columns[0:4]]
data.query('budget == budget.max()')

,imdb_id,budget,revenue,original_title
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.budget.max()

380000000

In [8]:
data.query('budget == 380000000')

,imdb_id,budget,revenue,original_title
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.columns[0:9]]
data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [12]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.columns[0:9]]
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '109.6585494970884'

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107.0'

In [16]:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.columns[1:9]]
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar (tt0499549)'

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
joined_items.query('profit == profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [20]:
joined_items.query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478'

In [22]:
s = data['budget'] < data['revenue']
s.value_counts()

True     1478
False     411
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [24]:
joined_items.loc[joined_items['release_year'] == 2008].query('profit == profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger  (tt1210819)'

In [26]:
joined_items.loc[(joined_items.release_year > 2012) & (joined_items.release_year < 2014)].query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [27]:
joined_items[(joined_items.release_year>2012) & (joined_items.release_year<=2014) ][['imdb_id', 'revenue', 'profit', 'original_title',]].query('profit == profit.min()')

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama'

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')
dt_list=data['genres']
film = Counter() 
for i in dt_list:
       for j in i.split('|'):
        film[j] += 1
print(film)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama'

In [31]:
data_profit=joined_items[joined_items.profit>0]
gen = data_profit.genres.str.split('|',expand=True).stack().value_counts()
print(gen)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [32]:
from collections import Counter
gen = joined_items[joined_items['profit'] > 0]['genres'].to_list()
films = Counter()
for i in gen:
    for j in i.split('|'):
        films[j] += 1
print(films.most_common(3))

[('Drama', 560), ('Comedy', 551), ('Thriller', 446)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [33]:
answers['13'] = 'Peter Jackson'

In [34]:
data = pd.read_csv('movie_bd_v5.csv')
def director_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].director.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])
display(director_revenue(data[data.revenue > 0]).sort_values(by=['Summ'], ascending = False))

                         Summ
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez'

In [36]:
director_genres = Counter()
for x in data.loc[data['genres'].map(lambda x: True if 'Action' in x else False)]['director'].str.split('|'):
    director_genres+=Counter(x)
display(director_genres.most_common())

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5),
 ('Louis Leterrier', 5),
 ('Tony Scott', 5),
 ('Paul Greengrass', 5),
 ('Peter Jackson', 5),
 ('Lee Tamahori', 5),
 ('Gore Verbinski', 5),
 ('Rob Cohen', 5),
 ('Peter Berg', 5),
 ('J.J. Abrams', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Olivier Megaton', 4),
 ('Guy Ritchie', 4),
 ('Bryan Singer', 4),
 ('Tim Story', 4),
 ('Renny Harlin', 4),
 ('Mark Neveldine', 4),
 ('Brian Taylor', 4),
 ('Dominic Sena', 4),
 ('Justin Lin', 4),
 ('Christopher Nolan', 4),
 ('Simon West', 4),
 ('John Moore', 4),
 ('Steven Spielberg', 4),
 ('Martin Campbell', 4),
 ('John Singleton', 4),
 ('Len Wiseman', 4),
 ('Brad Bird', 3),
 ('Matthew Vaughn', 3),
 ('Neill Blomkamp', 3),
 ('Jaume Collet-Serra', 3),
 ('Breck Eisner', 3),
 ('Pierre Morel', 3),
 ('David Ayer', 3),
 ('Doug Liman', 3),
 ('Clint Eastwood', 3),
 ('Phil Lord', 3),
 ('Christopher Miller', 3),
 ('McG', 3),
 ('Stephen Sommers', 3),
 ('Shawn Levy', 3),
 ('Jonathan Mostow', 3),
 ('Jon Favreau', 3),
 ('Jon Turteltaub', 3),
 ('Joe Carnahan', 3),
 ('M. Night Shyamalan', 3),
 ('Harald Zwart', 3),
 ('Marc Forster', 3),
 ('D.J. Caruso', 3),
 ('Edward Zwick', 3),
 ('Sam Raimi', 3),
 ('Barry Sonnenfeld', 3),
 ('Guillermo del Toro', 3),
 ('John Woo', 3),
 ('Uwe Boll', 3),
 ('David Twohy', 3),
 ('James Wan', 2),
 ('Alan Taylor', 2),
 ('Sam Mendes', 2),
 ('Joss Whedon', 2),
 ('Peyton Reed', 2),
 ('Brad Peyton', 2),
 ('Wes Ball', 2),
 ('Michael Mann', 2),
 ('Paul Feig', 2),
 ('Ron Howard', 2),
 ('Camille Delamarre', 2),
 ('Luc Besson', 2),
 ('Jonathan Liebesman', 2),
 ('Matt Reeves', 2),
 ('Marc Webb', 2),
 ('Evan Goldberg', 2),
 ('Seth Rogen', 2),
 ('Roger Donaldson', 2),
 ('J.C. Chandor', 2),
 ('Kenneth Branagh', 2),
 ('Scott Waugh', 2),
 ('Alex Proyas', 2),
 ('James McTeigue', 2),
 ('NimrÃ³d Antal', 2),
 ('Gavin Hood', 2),
 ('Sylvester Stallone', 2),
 ('Joseph Kosinski', 2),
 ('Edgar Wright', 2),
 ('Robert Schwentke', 2),
 ('James Mangold', 2),
 ('Neil Marshall', 2),
 ('Kevin Munroe', 2),
 ('Peter Howitt', 2),
 ('Frank Oz', 2),
 ('Joe Johnston', 2),
 ('Peter Hyams', 2),
 ('Timur Bekmambetov', 2),
 ('David Gordon Green', 2),
 ('Pete Travis', 2),
 ('Frank Miller', 2),
 ('Jason Friedberg', 2),
 ('Aaron Seltzer', 2),
 ('Rob Marshall', 2),
 ('Andrew Niccol', 2),
 ('Marcus Nispel', 2),
 ('Ruben Fleischer', 2),
 ('George Lucas', 2),
 ('Andrew Davis', 2),
 ('Walter Hill', 2),
 ('Rob Bowman', 2),
 ('Ang Lee', 2),
 ('Baltasar KormÃ¡kur', 2),
 ('Mark Steven Johnson', 2),
 ('F. Gary Gray', 2),
 ('David Dobkin', 2),
 ('Clark Johnson', 2),
 ('Richard Donner', 2),
 ('William Friedkin', 2),
 ('Francis Lawrence', 2),
 ('Courtney Solomon', 2),
 ('David R. Ellis', 2),
 ('David S. Goyer', 2),
 ('Colin Trevorrow', 1),
 ('George Miller', 1),
 ('Chris Columbus', 1),
 ('Christopher McQuarrie', 1),
 ('Ilya Naishuller', 1),
 ('Ericson Core', 1),
 ('Denis Villeneuve', 1),
 ('Josh Trank', 1),
 ('Aleksander Bach', 1),
 ('Andy Fickman', 1),
 ('John Erick Dowdle', 1),
 ('Anne Fletcher', 1),
 ('James Gunn', 1),
 ('Joe Russo', 1),
 ('Anthony Russo', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Chris Williams', 1),
 ('Neil Burger', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Dean DeBlois', 1),
 ('Patrick Hughes', 1),
 ('Gary Shore', 1),
 ('Noam Murro', 1),
 ('Vic Armstrong', 1),
 ('JosÃ© Padilha', 1),
 ('George Clooney', 1),
 ('Brian A Miller', 1),
 ('Steven Quale', 1),
 ('Adam Wingard', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Shane Acker', 1),
 ('Steve Carr', 1),
 ('Christian Alvart', 1),
 ('Hoyt Yeatman', 1),
 ('Kevin Macdonald', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Paul McGuigan', 1),
 ('Troy Duffy', 1),
 ('Paul Weitz', 1),
 ('David Bowers', 1),
 ('Daniel Barber', 1),
 ('Michael J. Bassett', 1),
 ('Pierre Coffin', 1),
 ('Chris Renaud', 1),
 ('Phillip Noyce', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Mike Newell', 1),
 ('Ethan Maniquis', 1),
 ('Albert Hughes', 1),
 ('Allen Hughes', 1),
 ('Tom McGrath', 1),
 ('Adam McKay', 1),
 ('Miguel Sapochnik', 1),
 ('Andy Tennant', 1),
 ('Jonathan Lynn', 1),
 ('Jimmy Hayward', 1),
 ('Robert Luketic', 1),
 ('John Luessenhop', 1),
 ('Kevin Smith', 1),
 ('Jorma Taccone', 1),
 ('Brian Levant', 1),
 ('Stuart Beattie', 1),
 ('Tim Burton', 1),
 ('Brian Helgeland', 1),
 ('John A. Davis', 1),
 ('Chris Nahon', 1),
 ('Hironobu Sakaguchi', 1),
 ('Motonori Sakakibara', 1),
 ('Rod Lurie', 1),
 ('John Herzfeld', 1),
 ('Ivan Reitman', 1),
 ('Demian Lichtenstein', 1),
 ('John Carpenter', 1),
 ('Bobby Farrelly', 1),
 ('Peter Farrelly', 1),
 ('Barry Levinson', 1),
 ('Luke Greenfield', 1),
 ('Les Mayfield', 1),
 ('Henry Selick', 1),
 ('Rob Pritts', 1),
 ('Ernest R. Dickerson', 1),
 ('DJ Pooh', 1),
 ('Eric Brevig', 1),
 ('Ben Stiller', 1),
 ('Jeff Wadlow', 1),
 ('Lexi Alexander', 1),
 ('Peter Segal', 1),
 ('Mathieu Kassovitz', 1),
 ('Rob Minkoff', 1),
 ('Jon Avnet', 1),
 ('Dennis Dugan', 1),
 ('Howard McCain', 1),
 ('Oxide Pang Chun', 1),
 ('Danny Pang', 1),
 ('Craig Mazin', 1),
 ('Simon Hunter', 1),
 ('Nicolas Winding Refn', 1),
 ('Rupert Wyatt', 1),
 ('Patrick Lussier', 1),
 ('Gary McKendry', 1),
 ('Scott Stewart', 1),
 ('Tarsem Singh', 1),
 ('Chris Gorak', 1),
 ('Chris Miller', 1),
 ('Michel Gondry', 1),
 ('Oliver Parker', 1),
 ('Joe Cornish', 1),
 ('Joe Wright', 1),
 ('John Michael McDonagh', 1),
 ('Alister Grierson', 1),
 ('Sean McNamara', 1),
 ('John Whitesell', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Jay Roach', 1),
 ('Jim Gillespie', 1),
 ('Chuck Russell', 1),
 ('Betty Thomas', 1),
 ('Randall Wallace', 1),
 ('Ron Shelton', 1),
 ('Simon Wells', 1),
 ('Roger Michell', 1),
 ('Michael Apted', 1),
 ('Tom Dey', 1),
 ('Joel Schumacher', 1),
 ('Luis Mandoki', 1),
 ('Tamra Davis', 1),
 ('Ron Underwood', 1),
 ('Kevin Bray', 1),
 ('Malcolm D. Lee', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Tony Gilroy', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Boaz Yakin', 1),
 ('Andrew Stanton', 1),
 ('Rian Johnson', 1),
 ('Mike McCoy', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Mabrouk El Mechri', 1),
 ('Dan Bradley', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('David Koepp', 1),
 ('David Barrett', 1),
 ('Stephen Norrington', 1),
 ('Jan de Bont', 1),
 ('Jon Amiel', 1),
 ('John McTiernan', 1),
 ('Shane Black', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Gary Fleder', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Taylor Hackford', 1),
 ('Steven Knight', 1),
 ('Spike Lee', 1),
 ('Dito Montiel', 1),
 ('Keanu Reeves', 1),
 ('Fyodor Bondarchuk', 1),
 ('Karyn Kusama', 1),
 ('Adam Shankman', 1),
 ('John Stockwell', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Jay Chandrasekhar', 1),
 ('Richard Shepard', 1),
 ('John Dahl', 1),
 ('Bruce Hunt', 1),
 ('Alfonso CuarÃ³n', 1),
 ('Stefen Fangmeier', 1),
 ('Mel Gibson', 1),
 ('Bruce Beresford', 1),
 ('Wolfgang Petersen', 1),
 ('Jeff Tremaine', 1),
 ('John Bonito', 1),
 ('Geoffrey Sax', 1),
 ('Tony Bill', 1),
 ('Wayne Kramer', 1),
 ('Sanjay Gadhvi', 1),
 ('Phil Joanou', 1),
 ('Alexander Witt', 1),
 ('Bibo Bergeron', 1),
 ('Vicky Jenson', 1),
 ('Rob Letterman', 1),
 ('Kerry Conran', 1),
 ('Oliver Stone', 1),
 ('Jonathan Hensleigh', 1),
 ('Pitof', 1),
 ('Philip Kaufman', 1),
 ('Trey Parker', 1),
 ('Steven Brill', 1),
 ('Frank Coraci', 1),
 ('Paul Abascal', 1),
 ('Joseph Kahn', 1),
 ('David Mamet', 1),
 ('Jay Russell', 1),
 ('Robert Redford', 1),
 ('Philip G. Atwell', 1),
 ('Michael Davis', 1),
 ('Xavier Gens', 1),
 ('Eli Roth', 1),
 ('Rob Zombie', 1),
 ('Jason Eisener', 1),
 ('Dave Meyers', 1),
 ('Russell Mulcahy', 1),
 ('Andrew Dominik', 1),
 ('Doug Lefler', 1),
 ('David Leland', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Joel Coen', 1),
 ('Donald Petrie', 1),
 ('Paul Verhoeven', 1),
 ('Roger Spottiswoode', 1),
 ('Antony Hoffman', 1),
 ('Stephen T. Kay', 1),
 ('Don Bluth', 1),
 ('Gary Goldman', 1),
 ('Christian Duguay', 1),
 ('Douglas Aarniokoski', 1),
 ('Gina Prince-Bythewood', 1),
 ('Brian Robbins', 1),
 ('Des McAnuff', 1)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'

In [38]:
def actor_revenue(df):
    summ = Counter()
    for i in range(len(df)):
        for j in df.iloc[i].cast.split('|'):
            summ[j] += df.iloc[i].revenue
    return pd.DataFrame.from_dict(summ, orient='index', columns = ['Summ'])
display(actor_revenue(data[data.release_year== 2012 ]).sort_values(by=['Summ'], ascending = False))

                         Summ
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Jason Bateman         3428048
Nicolas Cage          2106557
Sami Gayle            2106557
Josh Lucas            2106557
Danny Huston          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon'

In [40]:
high_profit_films_df = data[data.budget > data['budget'].mean()].reset_index()
s=pd.DataFrame(high_profit_films_df['cast'].str.split('|').tolist(), high_profit_films_df['budget']).stack().value_counts()
display(s)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Trevor Morgan      1
Albert Brooks      1
Ben Burtt          1
Sarah Gadon        1
Arthur Angel       1
Length: 1505, dtype: int64

In [41]:
data['profit'] = data['revenue'] - data['budget']
c = Counter()
for index, row in data.iterrows():
    names = row['cast'].split('|')
    for name in names:
        c[name] += row['profit']
display(c.most_common(5))

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'

In [43]:
count_genres = Counter()
for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres+=Counter(x)
display(count_genres.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [45]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
pd.DataFrame(data_new.groupby(by = 'original_title').profit.min()).sort_values('profit', ascending = True).head(1)

                        profit
original_title
K-19: The Widowmaker -64831034

In [46]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data_new = data[data.production_companies.str.contains('Paramount Pictures')]
data_new.sort_values('profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
answers['19'] = '2015'

In [48]:
pd.DataFrame(data.groupby(by = 'release_year').revenue.sum()).sort_values('revenue', ascending = False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = '2014'

In [50]:
joined_items = pd.read_csv('movie_bd_v5.csv')
joined_items['profit'] = joined_items['revenue'] - joined_items['budget']
col = Counter()
for i in range(0, len(joined_items)):
    if 'Warner Bros.' in joined_items['production_companies'].loc[i]:
        col[joined_items['release_year'].iloc[i]] += joined_items['profit'].iloc[i]
display(col.most_common(1))

[(2014, 2295464519)]

In [51]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data_new = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_new.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
answers['21'] = 'Сентябрь'

In [53]:
data['release_date'] = pd.to_datetime(data['release_date'])
s = data['release_date'].dt.month.value_counts(ascending = False)
s

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
answers['22'] = '450'

In [55]:
data ['mounth'] = data['release_date'].map(lambda x:  x.month)
w=0
for x in data ['mounth']:
    if 6 <= x <= 8:
        w += 1
print (w)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = 'Peter Jackson'

In [57]:
df = data.copy()
def month_to_season(month):
    seasons = {
        12: 'winter',
        1: 'winter',
        2: 'winter',
        3: 'spring',
        4: 'spring',
        5: 'spring',
        6: 'summer',
        7: 'summer',
        8: 'summer',
        9: 'autumn',
        10: 'autumn',
        11: 'autumn',
    }
    return seasons[month]
df['release_month'] = pd.to_datetime(df.release_date).apply(lambda x: x.month)
df['season'] = df.release_month.apply(month_to_season)
def directors(row):
    for director in row.director.split('|'):
        return director, row.season
df = pd.DataFrame(df.apply(directors, axis=1).tolist(), columns=['director', 'season'])
df['count'] = 1
df = pd.pivot_table(df, index='director', columns='season', values='count', aggfunc='sum')
df.sort_values('winter', ascending=False).head(1)

season         autumn  spring  summer  winter
director
Peter Jackson     1.0     NaN     NaN     7.0

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24'] = 'Four By Two Productions'

In [59]:
s_companies = data['production_companies'].str.split('|',expand=True).stack().unique()
df_result = pd.DataFrame(columns = ['production_companies', 'length'])
df_result['length'] = df_result['length'].astype('int')
for company in s_companies:
    df_company = data[data['production_companies'].str.contains(company,False)]['original_title']
    for tagline in df_company:
        index = len(df_result)
        df_result.loc[index,'production_companies'] = company
        df_result.loc[index,'length']  = len(tagline)
df_result.groupby('production_companies')['length'].mean().sort_values(ascending=False).head(1)

C:\Users\Denis\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

production_companies
Four By Two Productions    83.0
Name: length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
answers['25'] = 'Warner Bros.'

In [61]:
s_companies = data['production_companies'].str.split('|',expand=True).stack().unique()
df_result = pd.DataFrame(columns = ['production_companies', 'length'])
df_result['length'] = df_result['length'].astype('int')
for company in s_companies:
    df_company = data[data['production_companies'].str.contains(company,False)]['original_title']
    for original_title in df_company:
        index = len(df_result)
        df_result.loc[index,'production_companies'] = company
        df_result.loc[index,'length']  = len(original_title.split(' '))
df_result.groupby('production_companies')['length'].max().sort_values(ascending=False).head(10)

production_companies
Twentieth Century Fox                     12.0
Twentieth Century Fox Film Corporation    12.0
Four By Two Productions                   12.0
Walt Disney                               11.0
Walden Media                              11.0
Disney                                    11.0
Village Roadshow Pictures                 10.0
WingNut Films                             10.0
Warner Bros.                              10.0
Walt Disney Pictures                      10.0
Name: length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [63]:
s=data.groupby('original_title')[['vote_average']].max()
s[s['vote_average'] > s.quantile(0.99, numeric_only=True)['vote_average']]

                                               vote_average
original_title
12 Years a Slave                                        7.9
Gone Girl                                               7.9
Guardians of the Galaxy                                 7.9
Inception                                               7.9
Inside Out                                              8.0
Interstellar                                            8.0
Memento                                                 7.9
Room                                                    8.0
The Dark Knight                                         8.1
The Grand Budapest Hotel                                7.9
The Imitation Game                                      8.0
The Lord of the Rings: The Return of the King           7.9
The Pianist                                             7.9
The Wolf of Wall Street                                 7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

ВАРИАНТ 2

In [65]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Emma Watson Rupert Grint            8
Helena Bonham Carter Johnny Depp    6
Ben Stiller Owen Wilson             6
Kristen Stewart Taylor Lautner      5
Adam Sandler Kevin James            5
Kristen Stewart Robert Pattinson    5
Hugh Jackman Ian McKellen           5
Robert Pattinson Taylor Lautner     5
Name: actor_combinations, dtype: int64

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger  (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Warner Bros.',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27